@charset "UTF-8";

/*
em HTML é id  =   em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode ter vários elementos)
*/

body {
    background-color: #abe2b1;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #204225;
}

h1#principal {
    text-align: center;
    background-color: #204225;
    color: white;

}

h2 {
    color: #489453;
}

.basico {
    color: #489453;
}

.intermediario {
    color: #8f9448;
}

.avancado {
    color: #944848;
}

.destaque {
    background-color: #9b9b4588;
}