@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif
}

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #DAB6A0, #F2EDE4);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(160, 134, 118, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
 color: #05C7F2;
 text-align: center;
 text-shadow: 1px 1px 2px rgba(3, 135, 165, 0.712);
}

h2 {
    color: #7693A6;
}

p {
    text-align: justify;
}
a {
    text-align: justify;
    text-decoration: none;
    color: #05C7F2;
    font-weight: bold;
    margin: 10px;
}